@font-face {
  font-family: "Gotham Black"; /* Name the font */
  src: url("assets/fonts/Gotham-Black.otf") format("opentype"); /* Specify the path to your font file */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham HTF"; /* Name the font */
  src: url("assets/fonts/Gotham-Medium.ttf") format("opentype"); /* Specify the path to your font file */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham-Book.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Font Weight: Bold (700) */
@font-face {
  font-family: 'Arial';
  font-weight: 700;
  src: url('assets/fonts/ARIALBD.woff') format('woff');
}

/* Font Weight: Bold Italic (700 Italic) */
@font-face {
  font-family: 'Arial';
  font-weight: 700;
  font-style: italic;
  src: url('assets/fonts/ARIALBI.woff') format('woff');
}

/* Font Weight: Black Italic */
@font-face {
  font-family: 'Arial';
  font-weight: 900; /* Use 900 for 'Black' */
  font-style: italic;
  src: url('assets/fonts/ARIALBLACKITALIC.woff') format('woff');
}

/* Font Weight: Italic (400 Italic) */
@font-face {
  font-family: 'Arial';
  font-weight: 400;
  font-style: italic;
  src: url('assets/fonts/ARIALI.woff') format('woff');
}

/* Font Weight: Light (300) */
@font-face {
  font-family: 'Arial';
  font-weight: 300;
  src: url('assets/fonts/ARIALN.woff') format('woff');
}

/* Font Weight: Normal / Regular (400) */
@font-face {
  font-family: 'Arial';
  font-weight: 400;
  src: url('assets/fonts/ARIAL.woff') format('woff');
}

/* Font Weight: Medium (500) */
@font-face {
  font-family: 'Arial';
  font-weight: 500;
  src: url('assets/fonts/ARIALMdm.woff') format('woff');
}

/* Font Weight: Medium Italic (500 Italic) */
@font-face {
  font-family: 'Arial';
  font-weight: 500;
  font-style: italic;
  src: url('assets/fonts/ArialMdmItl.woff') format('woff');
}

/* Font Weight: Light Italic (300 Italic) */
@font-face {
  font-family: 'Arial';
  font-weight: 300;
  font-style: italic;
  src: url('assets/fonts/ARIALNI.woff') format('woff');
}

/* Font Weight: Black (900) */
@font-face {
  font-family: 'Arial';
  font-weight: 900;
  src: url('assets/fonts/ARIBLK.woff') format('woff');
}

/* Font Weight: Normal / Regular (400) - Example for font-weight: normal */
@font-face {
  font-family: 'Arial';
  font-weight: normal; /* Use 'normal' for regular */
  src: url('assets/fonts/ARIAL.woff') format('woff');
}

/* Font Weight: Normal / Regular (400) */
@font-face {
  font-family: 'Tahoma';
  font-weight: 400;
  src: url('assets/fonts/Tahoma Regular font.ttf') format('truetype');
}

/* Font Weight: Bold (700) */
@font-face {
  font-family: 'Tahoma';
  font-weight: 700;
  src: url('assets/fonts/TAHOMABD.TTF') format('truetype');
}

/* Font Weight: Bold Italic (700 Italic) */
@font-face {
  font-family: 'Tahoma';
  font-weight: 700;
  font-style: italic;
  src: url('assets/fonts/TAHOMAB0.TTF') format('truetype');
}

/* Font Weight: Italic (400 Italic) */
@font-face {
  font-family: 'Tahoma';
  font-weight: 400;
  font-style: italic;
  src: url('assets/fonts/TAHOMA_0.TTF') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body.lock-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: #1ebdc1;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

button {
  font-family: "Poppins", sans-serif;
}

button.btn.unstyled {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

a.btn {
  display: inline-block;
}

:is(button, a).btn {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid #1ecad3;
  background: rgba(255, 255, 255, 0.25);
  background-blend-mode: overlay;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  color: #1ecad3;
}

:is(button, a).btn.secondary {
  background: rgba(30, 202, 211, 0.49);
  color: #1e1e1e;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  border: 0;
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

b,
strong {
  font-weight: 600;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #333;
  background-color: #fff;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 33px;
  height: 80px;
  background: linear-gradient(180deg, #000000 -76.79%, rgba(0, 0, 0, 0) 100%);
}

.container {
  padding-left: calc((100vw - 1216px) / 2);
  padding-right: calc((100vw - 1216px) / 2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  padding-left: calc((100vw - 1240px) / 2);
  padding-right: calc((100vw - 1240px) / 2);
}

ul.menu {
  display: flex;
}

header nav,
header nav ul {
  height: 100%;
}

.logo a {
  display: flex;
  align-items: center;
  height: 100%;
}

ul.menu li a {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 0 33px;
  transition: color 0.2s ease-in-out;
}

ul.menu li a:hover {
  color: #1ecad3;
}

button.menu {
  display: none;
}

section.hero {
  margin-top: -80px;
  position: relative;
  background: linear-gradient(
    89.94deg,
    rgba(0, 0, 0, 0.77) 37.62%,
    rgba(0, 0, 0, 0) 105.28%
  );
  line-height: 0;
  width: 100%;
}

section.hero .content {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  margin-top: 220px;
  margin-left: 100px;
}

section.hero .intro {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  font-family: "Arial";
  line-height: 130%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

section.hero .intro .logo {
  width: 65px;
  height: 33px;
  margin: 0 0.75rem;
}

section.hero .content .new-logo {
  margin: 29px 0;
}

section.hero .content p {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  line-height: 150%;
}

section.hero .content p:first-of-type {
  width: 440px;
  display: block;
}

section.hero .content p:nth-of-type(2) {
  width: 551px;
  display: block;
}

section.hero .back-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

section.hero .scroll {
  position: absolute;
  right: 68px;
  bottom: 106px;
  z-index: 200;
  margin: 72px auto 24px;
  display: block;
}

.btn.cta {
  margin-top: .5rem;
  background: rgba(255, 255, 255, 0.05);
  background-blend-mode: overlay;
  border: 1px solid #1ecad3;
  box-shadow: 2.83122px 2.83122px 4.71869px rgba(0, 0, 0, 0.1);
  border-radius: 3.77495px;
  font-weight: 400;
  font-size: 16px;
  width: 273px;
}

section.marketing {
  background: #cad8d9;
  text-align: center;
  padding: 70px 0 40px;
  position: relative;
}

section.marketing h3,
section.marketing h4 {
  font-family: "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -15px 8px 10px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  line-height: 134.5%;
  position: relative;
  z-index: 300;
}

section.marketing h4 {
  text-shadow: -2px 4px 7px rgba(0, 0, 0, 0.2);
  letter-spacing: 10px;
  -webkit-text-fill-color: #cad8d9; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  margin-top: -1rem;
}

section.marketing h4 > span {
  letter-spacing: 10px;
  font-weight: 700;
}

section.marketing .card-img {
  margin-bottom: -10rem;
  z-index: 200;
  position: relative;
  left: -15px;
  top: 4px;
}

section.marketing .bg-lines {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  margin-top: 24px;
}

.benefits.row {
  margin-top: 70px;
}

.benefit {
  text-align: left;
  color: #4a4a4a;
  z-index: 300;
}

.benefit.one {
  grid-area: 1 / 3 / 2 / 7;
  width: 307px;
}

.benefit.two {
  grid-area: 1 / 8 / 2 / 11;
  width: 285px;
}

section.marketing .note {
  grid-area: 1 / 3 / 2 / 7;
}

.benefit .obs {
  margin: 0.5rem 0;
  font-weight: 400;
}

section.marketing .note {
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
  z-index: 300;
  position: relative;
  justify-content: center;
  text-align: left;
}

section.request {
  background: #cad8d9;
  padding: 110px 0 64px;
}

section.request .title {
  width: 686px;
  display: flex;
  flex-direction: column;
}

section.request .title-wrapper {
  position: relative;
  overflow: hidden;
}

section.request .decorator {
  position: absolute;
  left: 0;
  top: -15px;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  margin-left: -36px;
  margin-right: -64px;
}

section.request h3.title {
  font-weight: 700;
  font-family: "Tahoma", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  color: #4a4a4a;
  letter-spacing: 1px;
  line-height: 134.5%;
  margin: 0 auto;
  position: relative;
  z-index: 200;
}

section.request h3.title span:last-child,
section.request .decorator span:last-child {
  margin-left: auto;
}

section.request .decorator span {
  font-weight: 700;
  font-family: "Tahoma", sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  color: #4a4a4a;
  letter-spacing: 10px;
  line-height: 120%;
  color: #fff;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  white-space: nowrap;
}

section.request h3.title > span {
  font-weight: inherit;
}

section.request .request-options.row {
  display: grid;
  margin-top: 106px;
  justify-content: center;
}

.request-options .card:nth-child(1) {
  grid-area: 1 / 2 / 2 / 6;
}

.request-options .card:nth-child(2) {
  grid-area: 1 / 8 / 2 / 12;
}

.request-options .card {
  -webkit-border-radius: 18px;
  border-radius: 18px;
  position: relative;
  max-width: 395px;
  width: 100%;
  height: 261px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #000;
}

.request-options .card .hover {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  position: absolute;
  z-index: 300;
  inset: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95)
  );
  box-shadow: -15px 19px 13px rgba(0, 0, 0, 0.05);
  padding: 24px;
}

.request-options .card .hover .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.request-options .card .hover .card-cta {
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
  border: 1px solid #2abfc5;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  line-height: 100%;
}

.request-options .card .hover p {
  color: #4a4a4a;
  font-family: "Arial";
}

.request-options .card .hover p:not(:first-child) {
  margin-top: 1rem;
}

.request-options .card:hover .hover {
  opacity: 1;
}

.request-options .card > :is(.info, .cta) {
  transition: opacity 0.3s ease-in-out;
}

.request-options .card:hover > :is(.info, .cta) {
  opacity: 0;
}

.request-options .card .hover p a {
  text-decoration: underline;
}

.request-options .card .cta {
  background: #2abfc5;
  border-radius: 5rem;
  width: 64px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 200;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.39);
  border-radius: 20px;
  margin-top: 1rem;
}

.request-options .card > img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.request-options .card > .info {
  font-weight: 500;
  font-size: 22px;
  line-height: 136%;
  font-family: "Arial", sans-serif;
  color: #fff;
  position: relative;
  z-index: 200;
  text-transform: uppercase;
  padding-top: 20px;
}

.scroll.indicator {
  text-align: center;
  margin-top: 107px;
  z-index: 300;
  position: relative;
}

section.questions {
  padding: 0 57px 133px;
  background: #ededed;
  position: relative;
  overflow-y: hidden;
}

section.questions .bg {
  position: absolute;
  top: 238px;
  right: 0;
  z-index: 100;
  width: 100%;
  height: calc(100% - 238px);
  object-fit: cover;
  object-position: right top;
}

section.questions .title {
  font-family: "Tahoma";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 140%;
  color: #4a4a4a;
  letter-spacing: 1px;
  text-transform: uppercase;
}

section.questions .title .lead {
  color: #1ecad3;
  font-weight: inherit;
}

section.questions .title + .continuation {
  font-family: "Tahoma";
  font-style: normal;
  font-weight: 700;
  font-size: 27.5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #4a4a4a;
}

section.questions .info {
  padding: 161px 0 118px;
}

section.questions .info .text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #4a4a4a;
  margin-top: 28px;
  width: 566px;
}

section.questions .info .btn {
  margin-top: 1rem;
}

section.questions .info .btn.help {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
}

section.questions .hero.row {
  display: flex;
  gap: 40px;
  z-index: 200;
  position: relative;
}

section.questions .top-questions {
  position: relative;
  z-index: 200;
  width: 655px;
  margin: -30px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn.see-more {
  display: none;
}

section.questions .top-questions .title {
  font-size: 23px;
  line-height: 140%;
  margin-bottom: 40px;
}

section.questions .chips {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

footer {
  padding: 156px 89px 137px 102px;
  position: relative;
}

footer .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  object-fit: contain;
}

footer > .logo {
  margin-bottom: 32px;
}

footer .company-information {
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 200;
  position: relative;
  width: 495px;
}

.company-information li {
  display: flex;
  flex-direction: column;
  color: #4A4A4A;
  line-height: 150%;
  letter-spacing: 1px;
}

.company-information li .label {
  font-weight: 700;
  color: #1E1E1E;
}

footer span.address {
  color: #1E1E1E;
  width: 495px;
  font-family: 'Arial';
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 1px;
}

footer .hero {
  font-weight: 400;
  font-size: 100px;
  line-height: 150%;
  text-align: right;
  position: absolute;
  right: 93px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Arial";
  color: #4a4a4a;
}

footer .hero .logo-wrapper {
  position: relative;
  display: inline-flex;
  color: #4a4a4a;
  background: transparent;
  z-index: 200;
}

footer .hero .logo {
  position: absolute;
  top: 30px;
  left: 77px;
  z-index: 200;
}

footer .hero .lead {
  font-weight: 500;
  color: #1ecad3;
  font-family: "Gotham HTF";
}

footer .social.links {
  display: flex;
  gap: 18px;
  margin-top: 33px;
  z-index: 300;
  position: relative;
}

footer .social.links :is(a, li) {
  display: block;
  line-height: 0;
}

footer .hero > .logo-img {
  height: 89px;
  width: 229px;
  object-fit: cover;
  margin-bottom: -10px;
}

.hide-only-in-desk {
  display: none;
}

.mobile-menu {
  background: #cad8d9;
  position: fixed;
  height: calc(100vh - env(safe-area-inset-bottom));
  width: 100%;
  inset: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  z-index: 1100;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}

.mobile-menu.open {
  transform: translateX(0);
}

.mobile-menu .header {
  background: #202125;
  padding: 0 26px;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.mobile-menu .header .close {
  line-height: 0;
}

.mobile-menu .art {
  background: linear-gradient(180deg, #1ebdc1 -36.78%, #cad8d9 100%);
  height: 506px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.mobile-menu .links {
  margin-top: 33px;
}

.mobile-menu .links a {
  font-weight: 700;
  font-family: "Tahoma";
  font-size: 24px;
  line-height: 150%;
  color: #4a4a4a;
  padding: 39px 1rem 39px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu .lines-art {
  position: absolute;
  bottom: 0;
  right: 11px;
  width: 100%;
  object-fit: contain;
  z-index: -1;
}

.mobile-menu .footer {
  padding: 0 24px 45px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.mobile-menu .social-links {
  display: flex;
  gap: 1rem;
}

.app-popup {
  position: fixed;
  inset: 0;
  z-index: -100;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
}

.app-popup .back-layer {
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
  inset: 0;
  z-index: 0;
}

.app-popup .content {
  z-index: 100;
  position: relative;
  width: 640px;
  height: auto;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.app-popup .content .btn.close {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 200;
}

.app-popup .content :is(.text-col, .qr-col) {
  flex: 1 0 50%;
}

.app-popup .content .text-col {
  padding: 80px 40px;
  background: #2d7680;
  color: #fff;
}

.app-popup .content .text-col h4 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 130%;
  margin-bottom: 24px;
}

.app-popup .content .text-col p {
  font-size: 1rem;
  font-weight: 500;
}

.app-popup .content .text-col p :is(strong, b) {
  font-weight: 700;
}

.app-popup .content .qr-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-popup.open {
  z-index: 1000;
  opacity: 1;
}

@media (max-width: 1400px) {
  section.questions .hero.row .topinho {
    width: 517px;
    height: 517px;
  }
}

@media (max-width: 1200px) {
  footer .hero {
    font-size: 80px;
  }

  footer .hero .logo {
    width: 61px;
    height: 61px;
    top: 22px;
    left: 61px;
  }

  footer .hero > .logo-img {
    height: 71px;
    width: 187px;
    margin-bottom: -7px;
  }

  section.hero .content {
    margin-top: 120px;
  }

  section.request .request-options.row {
    gap: unset;
    justify-content: space-between;
  }

  section.questions .title {
    font-size: 50px;
  }

  section.questions .title + .continuation {
    font-size: 23px;
  }
}

@media (max-width: 1024px) {
  section.hero .back-image {
    position: absolute;
    inset: 0;
  }

  footer .hero {
    font-size: 45px;
  }

  footer .hero .logo {
    width: 34px;
    height: 34px;
    top: 13px;
    left: 34px;
  }

  footer .hero > .logo-img {
    height: 40px;
    width: 109px;
    margin-bottom: -6px;
  }

  section.hero .content {
    margin-top: 100px;
  }

  section.hero {
    /* height: 650px; */
    min-height: 100vh;
  }

  section.marketing .bg-lines {
    top: -50px;
  }

  section.marketing h3 {
    font-size: 40px;
  }

  section.marketing h4 {
    font-size: 33px;
  }

  section.request .request-options.row {
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    margin-top: 48px;
  }

  .request-options .card:nth-child(1) {
    grid-area: 1 / 2 / 2 / 7; 
  }
  
  .request-options .card:nth-child(2) {
    grid-area: 1 / 7 / 2 / 12; 
  }

  .request-options .card {
    margin: 0 auto;
  }

  section.questions {
    padding: 50px 0 40px;
  }

  section.questions .hero.row .topinho {
    position: absolute;
    width: 300px;
    height: 300px;
    right: 0;
  }

  section.questions .info {
    padding: 0 0 0 24px;
    z-index: 200;
  }

  section.questions .top-questions {
    margin: 42px 24px 0;
    width: auto;
  }

  section.questions .chips {
    gap: 0.5rem 18px;
  }

  section.questions .top-questions .title {
    margin-bottom: 22px;
    font-size: 1rem;
  }

  .request-options .card .hover {
    z-index: 0;
  }

  .request-options .card:hover .hover {
    z-index: 300;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-column-gap: 16px;
    padding-left: calc((100vw - 342px) / 2);
    padding-right: calc((100vw - 342px) / 2);
  }

  header {
    height: 60px;
    gap: 0;
    justify-content: space-between;
  }

  header .logo {
    margin-left: 27px;
  }

  header .logo img {
    width: 58px;
    height: 28px;
  }

  ul.menu {
    display: none;
  }

  button.btn.menu {
    display: block;
    padding: 0 27px;
  }

  footer {
    padding: 48px 24px 36px;
  }

  footer > .logo {
    margin-bottom: 24px;
  }

  footer .hero > .logo-img {
    height: 62px;
    width: 176px;
    margin-bottom: -4px;
  }

  footer .company-information {
    gap: 24px;
    width: 100%;
  }

  .btn.cta {
    font-size: 14px;
    line-height: normal;
    padding: 1rem 40px;
    width: auto;
  }

  footer .hero {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    transform: none;
    margin-bottom: 89px;
    font-size: 76px;
  }

  footer .hero .logo {
    width: 52px;
    height: 52px;
    top: 21px;
    left: 54px;
  }

  section.hero .content {
    margin: 139px 24px 0;
  }

  section.hero .scroll {
    right: 68px;
    bottom: 50px;
  }

  section.questions .title {
    font-size: 30px;
    line-height: 113%;
  }

  section.questions .title + .continuation {
    line-height: 140%;
    font-size: 13px;
    letter-spacing: 0.510605px;
    width: 186px;
    display: inline-block;
    margin-top: 0.5rem;
  }

  section.marketing {
    padding: 1rem 0 35px;
  }

  section.marketing .bg-lines {
    top: 0;
    margin-top: unset;
  }

  section.marketing .card-img {
    width: 199px;
    height: 239px;
    margin-bottom: -91px;
    margin-left: -4px;
    top: unset;
    left: unset;
    object-fit: cover;
    transform: scale(1.12) translateX(-11px);
  }

  section.marketing h3 {
    font-size: 22.5px;
  }

  section.marketing h4 {
    display: flex;
    flex-direction: column;
    font-size: 45.4536px;
    line-height: 89%;
    margin-top: 0;
  }

  section.marketing h4 > span:first-child {
    letter-spacing: 7.58px;
  }

  section.marketing h4 > span:last-child {
    letter-spacing: 10px;
    margin-left: 4px;
  }

  .benefits.row {
    margin-top: 64px;
    row-gap: 40px;
    justify-content: center;
    grid-template-rows: repeat(2, auto);
  }

  section.marketing .benefit.one { grid-area: 1 / 2 / 2 / 6; width: auto; }
  section.marketing .benefit.two { grid-area: 2 / 2 / 3 / 6; width: auto; }

  .obs.grid {
    margin-top: .5rem;
  }

  section.marketing .note {
    grid-area: 1 / 2 / 2 / 6;
  }

  section.request h3.title {
    font-size: 30px;
    width: 100%;
    padding: 0 52px;
    max-width: 510px;
  }

  section.request .decorator {
    top: -3px;
  }

  section.request .decorator span {
    font-size: 36px;
  }

  .request-options .card:nth-child(1) {
    grid-area: 1 / 1 / 2 / 7;
  }
  
  .request-options .card:nth-child(2) {
    grid-area: 2 / 1 / 3 / 7; 
  }

  section.questions .info .text {
    font-size: 12px;
    line-height: 18px;
    width: 222px;
    margin-top: 40px;
  }

  footer span.address {
    width: 100%;
  }

  .hide-only-in-desk {
    display: initial;
  }

  .app-popup {
    display: none;
    transition: display .3s ease-in-out;
  }

  .app-popup.open {
    z-index: -100;
    opacity: 0;
  }
}

@media (max-width: calc(342px + 48px)) {
  .grid {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 520px) {
  section.questions .hero.row .topinho {
    width: 200px;
    height: 200px;
  }

}

@media (max-width: 700px) {
  section.hero .content p:first-of-type,
  section.hero .content p:nth-of-type(2) {
    width: auto;
  }

  section.questions .chips {
    max-height: calc(32px * 2 + 0.5rem);
    height: calc(32px * 2 + 0.5rem);
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }

  .btn.see-more {
    display: block;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: none;
    text-decoration-line: underline;
    color: #1ebdc1;
    margin: 0.5rem auto 0 0 !important;
  }

  section.questions .chips.active {
    max-height: unset;
    height: auto;
  }
}

@media (max-width: 450px) {
  p {
    font-size: 14px;
  }

  :is(button, a).btn {
    font-size: 14px;
  }

  section.hero .content p:first-of-type {
    max-width: 187px;
  }

  section.hero .content p:nth-of-type(2) {
    max-width: 197px;
  }

  section.hero .intro {
    font-size: 1rem;
  }

  section.hero .content {
    margin: 139px 24px 0;
    position: relative;
  }

  section.hero .back-image {
    height: 100%;
    object-fit: cover;
  }

  section.hero .content .new-logo {
    width: 208px;
    margin: 1rem 0 2rem;
  }

  section.hero .content p {
    font-size: 14px;
    letter-spacing: 0;
  }

  section.hero {
    margin-top: -60px;
    position: relative;
    display: inline-block;
    background: none;
  }

  section.hero .intro .logo {
    width: 37px;
    height: 19px;
    margin: 0 0.5rem 4px;
  }

  section.hero .scroll {
    position: relative;
    width: 17px;
    height: 33px;
    right: unset;
    bottom: unset;
  }

  section.request {
    padding-top: 53px;
    padding-bottom: 30px;
  }

  section.request h3.title {
    font-size: 22px;
    width: 253px;
    padding: 0;
    max-width: unset;
  }

  section.request .decorator span {
    font-size: 28px;
  }

  .request-options .card {
    width: 100%;
    height: 226px;
  }

  .request-options .card > .info {
    font-size: 20px;
  }

  section.request .decorator {
    top: -4px;
  }

  section.questions .info .btn {
    margin-top: 12px;
  }

  section.questions .hero .title {
    width: 190px;
  }

  section.questions .info .btn.help {
    padding: 1rem 24px;
    width: 283px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    text-align: center;
  }

  .scroll.indicator {
    margin-top: 64px;
  }

  footer .hero {
    font-size: 11.8vw;
    letter-spacing: 0.4px;
    font-weight: 400;
    line-height: 60px;
  }

  footer .hero .logo {
    width: 8.6vw;
    height: 8.6vw;
    top: 2.3vw;
    left: 8.7vw;
  }

  footer .hero > .logo-img {
    height: 10vw;
    width: 28vw;
    margin-bottom: -3px;
  }

  footer > .logo {
    width: 103px;
    height: 17px;
  }

  footer span.address {
    width: 234px;
    font-size: 12px;
    letter-spacing: normal;
  }

  footer span.address > span[itemprop=streetAddress] {
    display: block;
  }

  footer .company-information li {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }

  /* .request-options .card:nth-child(2) {
    height: 270px;
  } */

  section.questions .chips .btn {
    font-size: 12px;
    font-weight: 400;
  }

  .request-options .card .hover p {
    font-size: 12px;
  }

  section.questions .bg {
    top: 113px;
    height: calc(100% - 113px);
  }

  .scroll.indicator img {
    width: 17px;
    height: 33px;
  }

  footer .bg {
    width: 225px;
    height: 346px;
  }
}

@media (max-width: 380px) {
  section.questions .hero.row .topinho {
    width: 40vw;
    height: 40vw;
  }
}

@media (max-width: 375px) {
  section.marketing h3 {
    font-size: 20px;
  }

  section.marketing h4 {
    font-size: 38px;
  }

  footer .hero {
    font-size: 41px;
  }

  footer .hero .logo {
    width: 29px;
    height: 29px;
    top: 13px;
    left: 30px;
  }

  footer .hero > .logo-img {
    height: 34px;
    width: 94px;
    margin-bottom: -3px;
  }
}

@media (min-width: 450px) {
  br.mobile {
    display: none;
  }
}